:root {
  --color-grey-1: #f1f1f1;
  --color-grey-2: #f3f3f3;
  --color-grey-3: #a5a5a5;
  --color-grey-4: #78777c;
  --color-grey-5: #3f4044;

  --color-blue: #017be8;


  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .1);
}

/* BREAKPOINTS */
$bp-largest: 75em; // 1200px / 16 == 75
$bp-large: 68.75em; // 1100px / 16 == 68.75
$bp-medium: 56.25em; // 900px / 16 == 56.25
$bp-small: 37.5em; // 600px / 16 == 37.25
$bp-smallest: 31.5em; // 500px / 16 == 31.25


/* RESET */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem === 10px
  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background-color: var(--color-grey-1);
}
