.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #fff;
  box-shadow: var(--shadow-dark);
  min-height: 30rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  height: 7rem;
  background-color: var(--color-grey-2);
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    height: 12rem;
  }
}

.content {
  display: flex;
  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-5);
  flex: 0 0 22.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media only screen and (max-width: $bp-medium) {
    flex: 0;
  }
}

.products-view {
  padding: 3rem;
}
